@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1 {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa1 > h1 {
    width: 50%;
    justify-self: center;
    color: #EFBF04;
    font-weight: 800;

}
.caixa1-img{
    width: 35vw;
}
.caixa2 {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 25px 35px;
    background: #121212;
    border-radius: 20px;
    border: solid 1px #6E6E73;
}

.card > h1 {
    color: white;
    font-weight: 800;
    margin: 0;
}

.campos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.campos > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #242424;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 5px 30px #242424;
    box-sizing: border-box;
}

.campos > label {
    color: white;
    margin-bottom: 20px;
}

.campos > input::placeholder {
    color: rgba(240, 248, 255, 0.355);
}

.botao {
    width: 60%;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #242424;
}