@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: #121212;
    color: white;
}

.container {
    display: flex;
    height: 1000px;
}
.menuLateral {
    background: #1c1c1c;
    border-right: 1px solid #2a2a2a;
    padding: 20px;
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menuLateral p {
    margin-bottom: 15px;
}
.menuLateral h2 {
    color: #EFBF04;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.menuLateral a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
}


.conteudo {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kpi-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.kpi {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    text-align: center;
}

.kpi h4 {
    color: #EFBF04;
    margin-bottom: 10px;
    font-weight: 700;
}

.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloGraficos {
    color: #EFBF04;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.graph {
    width: 100%;
    max-width: 800px;
    height: 400px;
    background: #1c1c1c;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100% ;
    height: 100% ;
}

.label-captura p {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#btnSair {
    background: #EFBF04;
    color: #121212;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20%;
}