@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #121212;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.header {
  background: #121212;
    border-bottom: 1px solid #2a2a2a;
    padding: 20px 0;
    position: relative;
    top: 0;
}

.header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #EFBF04;
    font-weight: 800;
    font-size: 1.8rem;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.hero-texto {
    flex: 1;
    min-width: 300px;
}

.hero-texto h1 {
    font-size: 2.5rem;
    color: #EFBF04;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-texto p {
    color: #bebec0;
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.5;
}

.hero-imagem {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 300px;
    
}

.hero-imagem img {
    width: 60%;
}
.hero-iamgem span {
justify-self: flex-end;
}

.botao {
    background: #EFBF04;
    color: #121212;
    border: none;
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}


.beneficios {
    text-align: center;
    padding: 60px 10%;
}

.beneficios h2 {
    color: #EFBF04;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background: #1c1c1c;
    border: 1px solid #2a2a2a;
    border-radius: 15px;
    padding: 25px;
    width: 280px;
}

.card h3 {
    color: #EFBF04;
    margin-bottom: 15px;
}

.card p {
    color: #bebec0;
    font-size: 0.95rem;
    line-height: 1.4; 
}

.footer {
    background: #1c1c1c;
    border-top: 1px solid #2a2a2a;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

.footer h4 {
    margin-bottom: 5px;
    font-weight: 400;
}

.version {
    color: #EFBF04;
    font-size: 0.9rem;
}

.fonte p{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 3%;
    padding-left: 7%;
}

.fonte a {
    color: #0275C9;
    font-weight: 600;
    text-decoration: none;
}

.sobre-mim {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    padding: 0 10%;
    flex-wrap: wrap;
}

.sobre-mim-imagem {
    text-align: center;
}

.sobre-mim img {
    width: 450px;
    height: 450px;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    object-fit: cover;
}

.legenda {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #bebec0;
}

.sobre-mim-texto {
    max-width: 600px;
}

.sobre-mim-texto h2 {
    color: #EFBF04;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 800;
}

.sobre-mim-texto p {
    line-height: 1.6;
    color: #bebec0;
    margin-bottom: 20px;
    font-size: 1rem;
}
