@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100%;
}


body {
    background: #121212;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menuLateral {
    background: #1c1c1c;
    border-right: 1px solid #2a2a2a;
    padding: 20px;
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menuLateral h2 {
    color: #EFBF04;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.menuLateral a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
}

.menuLateral a:hover {
    color: #EFBF04;
}

.conteudo {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.linhaInfos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cardInfo {
    background: #1c1c1c;
    border: 1px solid #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
}

.cardInfo h3 {
    color: #EFBF04;
    margin-bottom: 10px;
}

.cardInfo p {
    font-size: 0.95rem;
    color: #ccc;
}

.recomendacoes {
    background: #242424;
    border: 1px solid #121212;
    border-radius: 10px;
    padding: 20px;
}

.recomendacoes h3 {
    color: #EFBF04;
    margin-bottom: 15px;
}

.rec {
    background: #242424;
    border: 1px solid #121212;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.rec h4 {
    color: #EFBF04;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.rec p {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 5px;
}

.rec a {
    color: #0275C9;
    text-decoration: none;
    font-weight: 600;
}

.rec a:hover {
    text-decoration: underline;
}
