#tabuleiro {
    width: 480px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.casa {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branco { background-color: #fff; }
.verde  { background-color: green; }

.peca {
    width: 45px;
    height: 45px;
    pointer-events: none;
}